$fdr-1: #2ECC40;
$fdr-2: #01FF70;
$fdr-3: #FFDC00;
$fdr-4: #FF851B;
$fdr-5: #FF4136;

$fpl-grey: #e8e8e8;
$fpl-light-grey: #fafafa;
$fpl-red: #E90052;
$fpl-purple: #38173c;
$fpl-green: #3fed88;
$fpl-dark-green: #20894e;
