$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-angle-up: "\e900";
$icon-angle-double-up: "\e901";
$icon-arrow-left: "\e904";
$icon-cross: "\e905";
$icon-menu: "\e903";
$icon-reddit-square: "\e902";
$icon-triangle-up: "\e906";
$icon-triangle-right: "\e907";
$icon-triangle-left: "\e908";
$icon-triangle-down: "\e909";