.player-fixtures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5rem;

  justify-content: center;
  align-items: center;

  position: absolute;
  left: 1rem;
  right: 1rem;

  padding: .5rem .75rem .5rem .75rem;
  border-radius: 0 0 .5rem .5rem;

  font-size: 1.3rem;
  background-color: rgba(0,111,55,0.9);
  cursor: default;
}

.fixture-square {
  height: 1.3rem;
  border-radius: .25rem;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &--small {
    height: 1rem;
  }
}

.fdr {
  &--1 {
    background-color: $fdr-1;
  }
  &--2 {
    background-color: $fdr-2;
  }
  &--3 {
    background-color: $fdr-3;
  }
  &--4 {
    background-color: $fdr-4;
  }
  &--5 {
    background-color: $fdr-5;
  }
}

.expected-points {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid $fpl-grey;
  margin-bottom: 1rem;
  height: 7rem;

  &--transfers {
    margin-bottom: 0;
    border-top: none;
  }

  &--header {
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 1;
    color: #38003C;
  }

  &--value {
    font-size: 2.2rem;
    padding-bottom: 1.3rem;
    margin-top: .5rem;
    text-align: center;
    line-height: 1;
    color: #03aa68;
  }
}

.ism-element__data {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.contribution-header-icon {
  display: grid;
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: .35rem;
  cursor: pointer;
}

.transfer-icon {
  font-weight: 900;
}

.price-rising {
  color: rgba(0,111,55,0.9);;
  fill: rgba(0,111,55,0.9);;
}

.price-falling {
  color: $fdr-5;
  fill: $fdr-5;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.reddit-rmt {
  height: 3rem;
  width: 3rem;
  position: relative;
  float: right;
  margin-right: 2rem;
}

.rmt-icon {
  font-size: 3rem;
  cursor: pointer;
  color: #ebe7ec;
  transition: all 0.1s;

  &:hover {
    color: white;
  }
}
