@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.fpl-body {
  overflow: hidden;
  width: 40rem;
  height: 60rem;
  font-weight: 400;
  line-height: 1.6;
  outline: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
}

.fpl-container {
  display: grid;
  grid-template-rows: 5rem 55rem;
}

.fpl-header {
  display: grid;
  color: #FFFFFF;
  font-size: 2rem;
  grid-template-columns: 1fr 7.5rem;
  background-color: $fpl-deep-purple;
  align-items: center;
  padding-left: 1.6rem;
  font-weight: 300;
}

.fpl-header-menu {
  display: grid;
  justify-content: end;
  align-items: center;
  background-color: $fpl-light-green;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding-right: 1.6rem;
  height: 5rem;
}

.fpl-header-icon {
  color: $fpl-deep-purple;
  fill: $fpl-deep-purple;
  font-size: 2.5rem;
}

.fpl-feature-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.fpl-feature-hero {
  display: grid;
  justify-content: center;
  align-items: center;
}

.fpl-feature-circle {
  height: 20rem;
  width: 20rem;
  background-color: $fpl-light-grey;
  border-radius: 50%;
}

.fpl-feature-bottom {
  display: grid;
  grid-gap: 1rem;
  padding: 4rem;
}

.fpl-header-text {
  font-size: 2rem;
  font-weight: bold;
  color: $fpl-deep-purple;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fpl-standard-text {
  font-size: 1.4rem;
  font-weight: lighter;
  color: $fpl-darker-grey;
  text-align: center;
  font-weight: 300;
}

.fpl-feature-buttons {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-gap: .5rem;
}

.fpl-feature-button {
  display: grid;
  justify-content: center;
  align-items: center;

  padding: .5rem 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

  &--next {
    background-color: $fpl-deep-purple;
    color: #FFFFFF;
  }
  &--back {
    color: $fpl-deep-purple;
  }
}

.fpl-login-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.fpl-login-bottom {
  display: grid;
  grid-gap: 1rem;
  padding: 0 4rem 4rem 4rem;
}

.fpl-login-footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.fpl-login-input > input {
  font-size: 1.4rem;
  width: 100%;
  border: none;
  background-color: $fpl-lighter-grey;
  padding: 1rem;
  color: $fpl-deep-purple;

  &:focus {
    outline: none;
  }
}

.fpl-login-button {
  padding: .5rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background-color: $fpl-deep-purple;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;

  &--disabled {
    background-color: $fpl-disabled-grey;
    color: $fpl-disabled-grey-text;
    cursor: not-allowed;
  }
}

.fpl-login-footer-url {
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
  color: $fpl-deep-purple;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}
